<html>
    <body>
        <div class="errors">
            <%if(errosValidacao) { %>
            <ul>
                <% for(var i=0; i<errosValidacao.length; i++) {%>
                <li><%=errosValidacao[i].param%> - <%=errosValidacao[i].msg%></li>
                <% } %>
            </ul>
            <%}%>
        </div>
        <form action="/produtos" method="post">
            <div>
                <label for="titulo">Titulo</label>
                <input type="text" id="titulo" name="titulo" value="<%=produto.titulo%>" placeholder="coloque o titulo" />
            </div>
            <div>
                <label for="preco">Preco</label>
                <input type="text" id="preco" name="preco"  value="<%=produto.preco%>" placeholder="coloque o preco" />
            </div>
            <div>
                <label for="descricao">Descricao</label>
                <textarea cols="20" rows="10" id="descricao" name="descricao"  value="<%=produto.descricao%>" placeholder="fale sobre o livro"></textarea>
            </div>
            <input type="submit" value="gravar"/>
        </form>
    </body>
</html>